.pageContent {
    position: relative;
}


.donateButton {
    position: fixed;
    right: -30px;
    top: 60%;
    transform: translateY(-50%) rotate(-90deg);
    border-radius: 0px;
}


.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}