.app-shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pageContent {
    position: relative;
}


.donateButton {
    position: fixed;
    right: -35px;
    top: 60%;
    transform: translateY(-50%) rotate(-90deg);
    border-radius: 0px;
    cursor: pointer;
}
.donateButton:hover {
    background-color: #f0f0f0;
    color: #333;
}