.navBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    font-family: "Poppins", sans-serif;
    padding:40px 80px 40px 80px;
    background-color: #222C1C;

}

.pages {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

.pages a {
    letter-spacing: 1.5px;
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: 500;
}


.logo {
    font-weight: 800;
    color:white;
    font-size: 28px;
    letter-spacing: 1.2px;
}


button {
    background-color: 6CA219;
}
