body {
    margin: 0;
    padding: 0;
}

main {
margin:0px;
display: flex;
flex-direction: column;
align-items: center;
}

img {
    width:80%;
    height:auto;
    transform:rotate(45deg);
    right:-20px;
    position: relative;
    z-index: 0;
}


.left {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: white;
    align-items: flex-start; 
}

.content {
display: flex;
flex-direction: row;
flex:1;
align-items: center;
justify-content: center;
padding:0px 100px;
height: 100px;
background-color: #151813;

}


.heroText{
    font-size: 25px;
    width: 400px;
}

p {
    font-size: 23px;
    width:90%;
}

section {
    height:30vh;
    padding:90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h2 {
    font-size: 50px;
    color:rgb(36, 16, 6);
}


.reccomendations {
    height:20vh;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    align-items: center;
    justify-content: center;
    padding:0px 40px;
}

.sectionGrid {
     column-count: 3;
     column-gap: 10px;
    margin-top: 0px;
    margin-bottom: 100px;
    gap:100px;
}

.sectionGrid img {
    width:180px;
    height:auto;
}