.Footer {
      background-color: #222C1C;
      padding:80px 80px 40px 80px;
      height:200px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
}

.Footer a {
    text-decoration: none;
    color:white;
}

.Footer p {
    font-size: 16px;
    color:white;
}

.Navigation, .Contact,.Legal {
    display: flex;
    flex-direction: column;
    text-align: left;
}


.Footer h2 {
    color:white;
}