.content {
    display: flex;
    flex-direction: row;
}

.left{
    text-align: left;
}
.right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    flex-grow: 2;
}

.missionMain {
    padding: 32px;
}